<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gxweilan.DiNiuWang.mapper.OrderMapper">


    <insert id="createOrder">
        insert into payorder (pay_no,order_no,outTradeNo,openid,pay_channel,sub_pay_channel,pay_amount,real_pay_amount,body,
            refund_amount,
            pay_time,
            refund_time,
            status,
            fail_reason,
            attach,
            remark,
            create_time,
            update_time
        ) values (
                     #{payNo},
                     #{orderNo},
                     #{outTradeNo},
                     #{openid},
                     #{payChannel},
                     #{subPayChannel},
                     #{payAmount},
                     #{realPayAmount},
                     #{body},
                     #{refundAmount},
                     #{payTime},
                     #{refundTime},
                     #{status},
                     #{failReason},
                     #{attach},
                     #{remark},
                     #{createTime},
                     #{updateTime}
                 )
    </insert>

    <insert id="createWxOrder">
        insert into payorder (
            pay_no,
            order_no,
            outTradeNo,
            openid,
            pay_channel,
            sub_pay_channel,
            pay_amount,
            real_pay_amount,
            body,
            refund_amount,
            pay_time,
            refund_time,
            status,
            fail_reason,
            attach,
            remark,
            create_time,
            update_time
        ) values (
                     #{payNo},
                     #{orderNo},
                     #{outTradeNo},
                     #{openid},
                     #{payChannel},
                     #{subPayChannel},
                     #{payAmount},
                     #{realPayAmount},
                     #{body},
                     #{refundAmount},
                     #{payTime},
                     #{refundTime},
                     #{status},
                     #{failReason},
                     #{attach},
                     #{remark},
                     #{createTime},
                     #{updateTime}
                 )
    </insert>

    <insert id="addDd">
        insert into dingdan (
            id,
            companyName,
            outTradeNo,
            createTime,
            payee,
            serviceItem,
            total,
            wasPaid
        ) values (
                     #{id},
                     #{companyName},
                     #{outTradeNo},
                     #{createTime},
                     #{payee},
                     #{serviceItem},
                     #{total},
                     #{wasPaid}
                 )
    </insert>

    <update id="updateOrderStatus">
        update payorder
        <set>
            <if test="companyCode != null and companyCode !=''">companyCode = #{companyCode},</if>
            <if test="companyName != null and companyName !=''">companyName = #{companyName},</if>
            <if test="companyForward != null and companyForward !=''">companyForward = #{companyForward},</if>
            <if test="companyGSCode != null and companyGSCode !=''">companyGSCode = #{companyGSCode},</if>
            <if test="companyType != null and companyType !=''">companyType = #{companyType},</if>
            <if test="taxPaymentType != null and taxPaymentType !=''">taxPaymentType = #{taxPaymentType},</if>
            <if test="registrationAuthority != null and registrationAuthority !=''">registrationAuthority = #{registrationAuthority},</if>
            <if test="companyOpTime != null and companyOpTime !=''">companyOpTime = #{companyOpTime},</if>
            <if test="registeredCapital != null and registeredCapital !=''">registeredCapital = #{registeredCapital},</if>
            <if test="intangibleAssets != null and intangibleAssets !=''">intangibleAssets = #{intangibleAssets},</if>
            <if test="isOpenAccount != null ">isOpenAccount = #{isOpenAccount},</if>
            <if test="isHaveInvoice != null ">isHaveInvoice = #{isHaveInvoice},</if>
            <if test="isHaveEBanking != null ">isHaveEBanking = #{isHaveEBanking},</if>
            <if test="companyAddress != null and companyAddress !=''">companyAddress = #{companyAddress},</if>
            <if test="companyDetails != null and companyDetails !=''">companyDetails = #{companyDetails}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteDdById">
        delete from dingdan where outTradeNo = #{outTradeNo}
    </delete>
    <sql id="res">
        ddId,id,companyName,outTradeNo,createTime,payee,serviceItem,total,wasPaid,md5Openid
    </sql>
    <select id="getOrderByOutTradeNo" resultType="com.gxweilan.DiNiuWang.entity.DiNiuWangDetails">
        select <include refid="res"></include> from dingdan where outTradeNo = #{outTradeNo}
    </select>
    <select id="selectOrderByOpenidAPZ" resultType="com.gxweilan.DiNiuWang.entity.DiNiuWangDetails">
        select outTradeNo,createTime,payee,serviceItem,total,wasPaid
        from dingdan
        where
            id = #{id}
        and wasPaid = 0
    </select>

    <select id="selectOrderByOpenidAPO" resultType="com.gxweilan.DiNiuWang.entity.DiNiuWangDetails">
        select outTradeNo,createTime,payee,serviceItem,total,wasPaid
        from dingdan
        where id = #{id}
        and wasPaid = 1
    </select>

    <select id="selectTotleByZ" resultType="java.lang.Integer">
        select count(*) from dingdan where wasPaid = 0
    </select>

    <select id="getAllDdListByZ" resultType="com.gxweilan.DiNiuWang.entity.DiNiuWangDetails">
        select ddId,id,companyName,outTradeNo,createTime,payee,serviceItem,total
        from dingdan
        <where>
            <if test="id != null and id != ''">id like concat(#{id,jdbcType=INTEGER},'%')</if>
            <if test="companyName != null and companyName != '' ">and companyName like concat(#{companyName,jdbcType=VARCHAR},'%')</if>
            and wasPaid = 0
        </where>
        LIMIT #{curPage},#{pageSize}
    </select>
    <select id="getAllDdListByO" resultType="com.gxweilan.DiNiuWang.entity.DiNiuWangDetails">
        select ddId,id,companyName,outTradeNo,createTime,payee,serviceItem,total
        from dingdan
        <where>
            <if test="id != null and id != ''">id like concat(#{id,jdbcType=INTEGER},'%')</if>
            <if test="companyName != null and companyName != '' ">and companyName like concat(#{companyName,jdbcType=VARCHAR},'%')</if>
            and wasPaid = 1
        </where>
        LIMIT #{curPage},#{pageSize}
    </select>
    <select id="selectTotleByO" resultType="java.lang.Integer">
        select count(*) from dingdan where wasPaid = 1
    </select>
</mapper>